.contact {
  width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: var(--color-yellow);
  margin: 0;
  padding: 0;
}
.contact-form {
  width: 300px;
  background-color: var(--color-light-green);
}
.contact h1 {
  text-align: center;
}

.contact-content {
  display: grid;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-items: center;
  max-width: 300px;
}

.contact-map {
  display: grid;
  justify-items: center;
  text-align: center;
  align-items: center;
  max-width: 300px;
}

.contact-map img {
  width: 300px;
  height: auto;
  margin-bottom: var(--space-medium);
}

.info section {
  margin-bottom: var(--space-bigger);
}

.contact input {
  width: 80%;
  padding: 8px 2px;
  margin: 2px 0;
  box-sizing: border-box;
}

/*Desktop queries*/
@media (min-width: 750px) {
  .info {
    width: 300px;
    margin: var(--space-bigger);
  }

  .contact-form {
    width: 300px;
    margin: var(--space-bigger);
  }

  .contact-content {
    width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-map {
    max-width: 600px;
  }
  .contact-map img {
    width: 600px;
  }
}
