.navigation{
    width: 100vw;
    height: 80px;
    background: var(--color-green);
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
}

.navigation img {
    width: 60px;
    height: auto;
}

.navigation a {
    font-size: 12px;
    margin: 6px;
    text-decoration: none;
    color: #fff;
}
