:root {
  --space-smaller: 4px;
  --space-small: 8px;
  --space-medium: 16px;
  --space-big: 24px;
  --space-bigger: 48px;
  --color-light-green: #d2dbc8;
  --color-yellow: #fffceb;
  --color-green: #357744;
}
